* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    padding: 65px 30px 30px 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}



// nav bar

header {
    width: 100%;
    height: 60px;
    padding: 0 20px;
    background-color: #000;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    padding: 5px 10px;
    margin: 0 5px;
    &:hover {
        text-decoration: underline;
    }
}

// hero section

#welcome-section {
    width: 100%;
    height: 75vh;
    background-image: url("https://images.pexels.com/photos/4245826/pexels-photo-4245826.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.profile-pic {
    width: 200px;
    height: 200px;
    background-image: url("https://images.pexels.com/photos/307847/pexels-photo-307847.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 0 30px;
}

.hero-content {
    padding: 30px 30px 30px 60px;
    background-color: rgba($color: #000000, $alpha: 0.75);
    border-radius: 50px;
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.25em;
    }
}

// about section

article {
    font-size: 1.25em;
    line-height: 1em;
    padding: 0 20px;
    p:nth-of-type(1) {
        margin-bottom: 20px;
    }
}

aside {
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    align-content: center;
    justify-content: center;
    background-image: url("https://images.pexels.com/photos/2775196/pexels-photo-2775196.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    p {
        padding-right: 40px;
        text-align: end;
    }
}

// Project Section

.img-1 {
    background-image: url("https://images.pexels.com/photos/270348/pexels-photo-270348.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1");
}

.img-2 {
    background-image: url("https://images.pexels.com/photos/270632/pexels-photo-270632.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1");
}

.img-3 {
    background-image: url("https://images.pexels.com/photos/270360/pexels-photo-270360.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1");
}

.project-tile {
    display: flex;
    align-items: flex-end;
    text-align: center;
    width: 90%;
    height: 440px;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    a {
        width: 100%;
        height: 70px;
        padding: 20px;
        color: #fff;
        font-size: 1.5em;
        background-color: rgba($color: #000000, $alpha: 0.75);
        border-radius: 10px;
    }
}

// Contact section

#contact {
    text-align: center;
    h3 {
        font-size: 1.5em;
    }
}

.card {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    img {
        max-width: 100%;
        margin-bottom: 30px;
    }
    a {
        color: #000;
        font-size: 1.25em;
        font-weight: bold;
    }
}

// footer

footer {
    width: 100%;
    height: 60px;
    background-color: #000;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    a {
        color: #fff;
    }
}

// Media Query

@media  (max-width: 412px) {
    .grid, .grid-3{
        grid-template-columns: repeat(1, 1fr);
    }
    
}